.linea2 {
    width: 100%;
    height: 25px;
    background-color: rgba(238, 207, 207, 0.308);
    border-radius: 3px;
}
#cards {

    border-width: 1px;
    border-radius: 4px;
    margin-top: 15px;
    box-shadow: 0px 1px 10px rgba(238, 228, 228, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
#cards:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);

}
#img {
    width: 330px;
    height: 300px;
}
body {
    background-color: rgba(241, 236, 227, 0.733);
}